<div class="container" *ngIf="isLoaded">
  <div fxFlex fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
    <div fxFlex="60%" class="left">
      <gallery [items]="images"></gallery>
    </div>
    
    <div fxFlex="40%" class="right">
      <div class="product-description">
        <h1>{{produit.titre}}</h1>
        <p>{{produit.description}}</p>
      </div>
  
  
      <div class="product-price">
        <span>{{produit.prix}} €</span>
        <a class="cart-btn" (click)="addToPanier()">Ajouter au panier</a>
      </div>
    </div>
  </div>


</div>