<div class="container">
  <mat-tab-group>
    <mat-tab label="En cours">
      <app-vente-list [type]="enCours" [editable]="true"></app-vente-list>
    </mat-tab>
    <mat-tab label="En attente du produit">
      <app-vente-list [type]="produitEnAttente" [editable]="true"></app-vente-list>
    </mat-tab>
    <mat-tab label="Terminées">
      <app-vente-list [type]="termine" [editable]="false"></app-vente-list>
    </mat-tab>
    <mat-tab label="Annulées">
      <app-vente-list [type]="annule" [editable]="false"></app-vente-list>
    </mat-tab>
  </mat-tab-group>
</div>