.content {
    padding: 16px;
}

.content > mat-card {
    width: 200px;
}

button {
    width: 40%;
    font-size: 80%;
    text-align: center;
    background-color: #EAEAEA;
    border: 1px black !important;
}

.button-panier {
    color: orange;
}

.button-consulter {
    color: green;
}