<!-- Toolbar -->
<p>
  <mat-toolbar class="navbar">
    <img width="40" alt="Angular Logo" src="assets/icon.png" routerLink="/"/>
    
    <div fxShow="true" fxHide.lt-md="true">
      <a mat-button routerLink="/" align="left">Green Repack</a>
      <span class="spacing"></span>
      <a mat-button routerLink="/about-us">About us</a>
      <a mat-button routerLink="/prices">Prices</a>
      <a mat-button routerLink="/start-page">Start page</a>
      <a mat-button routerLink="/ventes/new">Vendre</a>
      <a mat-button routerLink="/login">Se connecter</a>
    </div>
  </mat-toolbar>
</p>


<div class="content" role="main">


</div>

<router-outlet></router-outlet>