<!-- Toolbar -->
<p>
  <mat-toolbar class="navbar">
    <img width="40" alt="Angular Logo" src="assets/icon.png" routerLink="/"/>
    
    <div fxShow="true" fxHide.lt-md="true">
      <a mat-button routerLink="/" align="left">Green Repack</a>
      <span class="spacing"></span>
      <a mat-button routerLink="/ventes/new">Vendre</a>
      <a *ngIf="!isLogged" mat-button routerLink="/login">Se connecter</a>
      <a *ngIf="isLogged" mat-button (click)="logout()">Se déconnecter</a>
    </div>
  </mat-toolbar>
</p>

<app-alert></app-alert>

<router-outlet></router-outlet>
