.content {
  padding: 16px;
}

.image{
  height: 200px; /* adjust as needed */
  object-fit: contain;
}

button {
  text-align: center;
  background-color: #EAEAEA;
  border: 1px black !important;
}

.button-panier {
  background-color: orange;
  justify-content: flex-end;
}

.button-consulter {
  background-color: green;
}

.filterButton {
  margin: 10px;
}
