.content {
    padding: 16px;
}

.mat-card{
    display:flex;
    flex-direction: column;
  }
  
  .mat-card-header {
    flex-shrink: 0;
  }
  
  .mat-card-content{
    flex-grow: 1;
    overflow: auto;
  }

button {
    width: 40%;
    font-size: 80%;
    text-align: center;
    background-color: #EAEAEA;
    border: 1px black !important;
}

.button-panier {
    color: orange;
}

.button-consulter {
    color: green;
}

.filterButton {
    width: 10%;
    margin: 10px;
}
