<form [formGroup]="form" (ngSubmit)="onSubmit()">

  <div>
      <mat-form-field appearance="fill">
          <mat-label>Libellé</mat-label>
          <input formControlName="libelle" type="text" class="form-control" matInput>
      </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="fill">
        <mat-label>Adresse</mat-label>
        <input formControlName="adresse" type="text" class="form-control" matInput>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="fill">
        <mat-label>Code postal</mat-label>
        <input formControlName="codePostal" type="number" class="form-control" matInput>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="fill">
        <mat-label>Ville</mat-label>
        <input formControlName="ville" type="text" class="form-control" matInput>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="fill">
        <mat-label>Capacité</mat-label>
        <input formControlName="capacite" type="number" class="form-control" matInput>
    </mat-form-field>
  </div>

  <div class="form-group">
      <button class="btn btn-primary">
          Créer
      </button>
      <a class="btn btn-link" (click)="closeDialog()">Cancel</a>
  </div>
</form>
