<div class="content">

    
    <div align="right">
        <form [formGroup] = "filterForm">
            Filtres: 
        <mat-form-field>
            <mat-label>Catégorie</mat-label>
            <mat-select formControlName="categorie" >
            <p *ngFor="let categorie of categories">
                <mat-option value="{{ categorie.id }}">{{ categorie.libelle }}</mat-option>
            </p>
            </mat-select>
        </mat-form-field>
        &nbsp;
        <mat-form-field>
            <mat-label>État</mat-label>
            <mat-select formControlName="etat">
            <p *ngFor="let etat of etats">
                <mat-option value="{{ etat }}">{{ etat }}</mat-option>
            </p>
            </mat-select>
        </mat-form-field>

        <button mat-raised-button color="primary" (click)="onFilter()" class="filterButton">Soumettre</button>
        <button mat-button (click)="clearFilters()" class="filterButton">Réintialiser</button>


        </form>
        
    </div>

    <hr>
    <div fxLayout="row wrap" fxLayoutGap="1% grid">
        <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let produit of produits | async">
            <mat-card class="mat-elevation-z4">
                <mat-card-header>
                    <mat-card-title>{{produit.description}}</mat-card-title>
                </mat-card-header>
                <img mat-card-image width="5%" height="5%" src="https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/iphone-12-family-select-2021">
                <mat-card-content>
                    Etat: {{ produit.etat }}
                    Prix: {{ produit.prix }} €
                </mat-card-content>
                <mat-card-actions>
                    <button mat-flat-button class="button-consulter" (click)="consulter(produit.id)">Consulter</button>
                    <button mat-flat-button class="button-panier" (click)="addToPanier(produit)">Ajouter au panier</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
    <mat-paginator [length]="100"
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 25, 100]"
    aria-label="Select page">
        
    </mat-paginator>
    
</div>
